.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01112b;
  font-family: "Poppins";
  font-size: 0.7rem;
  padding: 0.5rem;
}
.reset-button {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  background: #f44336;
  color: #edefee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.reset-button:hover {
  background: #d32f2f;
}
.header-logo {
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}
