.muscle-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: lightcyan;
  height: 100%;
}
.muscle-buttons {
  font-family: "Karla";
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.muscle-title {
  font-family: "MarkaziText";
}
