.weekly-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-family: "Poppins";
  color: #edefee;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.weekly-button {
  font-family: "Poppins";
  color: #edefee;
  padding: 0px;
  margin: 1vh 1vw;
  flex: 0 1 100px; /* Buttons can grow and shrink but base width is 100px */
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5em;
  color: #1d4ed8;
  display: none;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.trained .checkmark {
  display: block; /* Show the checkmark when 'trained' class is applied */
}

.uhmP {
  font-family: "Poppins";
  margin-top: -10px;
  text-align: center;
  padding: 16px;
  font-weight: 700;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
  color: #edefee;
}
.trained {
  font-family: "Poppins";
}
.muscle-image {
  width: 100px;
  height: 90px;
  border-radius: 50%;
}
